/* .about-profile-section-container {
  display: inline-block;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: green;
} */

.profile-image {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  width: 40%;
}

@media (max-width: 480px) {
  .profile-image {
    width: 50%;
  }
}
