@import '../styles/variables.scss';

.template-main-container {
  box-sizing: border-box;
  height: 100%;
}

.template-head-container {
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  background-color: $color-deep-blue;
  opacity: 0.7;
}

.template-body-container {
  box-sizing: border-box;
  height: 75%;
  overflow: scroll;
  padding-right: 40px;
  padding-left: 40px;
}

.template-title-text {
  font-size: 25px;
  color: white;
}

.template-summary-excerpt {
  box-sizing: border-box;
  line-height: 30px;
  margin-top: 40px;
}

.template-summary-image {
  box-sizing: border-box;
  float: right;
  width: 40%;
  height: auto;
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 40px;
}
