.page-container {
  display: absolute;
  width: 90%;
  box-sizing: border-box;
  top: 0px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
  border-radius: 10px;
  background-color: white;
  z-index: 100;
  overflow: scroll;
}

@media (max-width: 480px) {
  .page-container {
    margin-right: 0;
    margin-left: 0;
    border-radius: 0;
    width: 100%;
  }
}
