@import url('https://fonts.googleapis.com/css?family=Megrim');

$color-deep-blue: #00404e;
$color-bright-green: #00c4b4;
$color-sky-white: #f2f7fa;
$color-pink: #d8a1b6;
$font-family-megrim: 'Megrim', Helvetica;
$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
