
.header-outer-container {
    background: green;
    position: fixed;
    z-index: 1040;
    height: 81px;
    width: 100%;
    padding: 0 40px;
    left: 0;
    top: 0;
    display: flex;
    transition: height .3s ease-out, background .3s ease-out, transform .5s, box-shadow .5s, left .2s cubic-bezier(.645, .045, .355, 1);
    transition-property: height, background, transform, box-shadow, left;
    transition-duration: 0.3s, 0.3s, 0.5s, 0.5s, 0.2s;
    transition-timing-function: ease-out, ease-out, initial, initial, cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-delay: initial, initial, initial, initial, initial;
    box-shadow: none;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}