
body {
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;            
}
  
  @media screen and (max-width: 1024px) {
    .background-image {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }

  /* @font-face {
    font-family: 'linowrite';
    src: url('../linowrite.ttf') format('ttf')
  } */

  .subtitle-text-container {
    position: absolute; 
    top: 400px;
    left: 0px;
    width: 100%;
  }

  .subtitle-text {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 15px;
    background-color: white;
  }


