
body {
	/* background-size: cover;
	background-position: fixed;
	background-attachment: fixed; */
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;            
}
  
  @media screen and (max-width: 1024px) {
    .background-image {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }


