@import '../../styles/variables.scss';

.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.navigation-spacer {
  color: black;
}

.navigation-spacer-backlit {
  color: white;
}

.navigation-link {
  text-decoration: none;
  color: black;
  padding-right: 40px;
}

.navigation-link:hover {
  text-decoration: none;
  color: $color-bright-green;
}

.navigation-link-backlit {
  text-decoration: none;
  color: white;
  padding-right: 40px;
}

.navigation-link-backlit:hover {
  text-decoration: none;
  color: $color-bright-green;
}
