@import '../../styles/variables.scss';

.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  padding-right: 30px;
}

.navigation-item {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.navigation-item-backlit {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.navigation-item::after {
  content: '|';
}

.navigation-item-backlit::after {
  content: '|';
  color: white;
}

.navigation-item:last-child::after {
  content: '';
}

.navigation-item-backlit:last-child::after {
  content: '';
}

.navigation-link {
  text-decoration: none;
  color: black;
}

.navigation-link:hover {
  text-decoration: none;
  color: $color-bright-green;
}

.navigation-link-backlit {
  text-decoration: none;
  color: white;
}

.navigation-link-backlit:hover {
  text-decoration: none;
  color: $color-bright-green;
}
