@import '../styles/variables.scss';

body {
  margin: 0;
  font-family: $font-family-base;
  font-weight: 100;
  background-image: -webkit-gradient(linear, left top, left bottom, from($color-sky-white), to($color-deep-blue));
  background-image: -webkit-linear-gradient($color-sky-white, $color-deep-blue);
  background-image: -o-linear-gradient($color-sky-white, $color-deep-blue);
  background-image: linear-gradient($color-sky-white, $color-deep-blue);
}

.logo-outer-container {
  position: absolute;
  top: 150px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: $color-pink;
  opacity: 0.7;
  z-index: -1;
}

.logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  font-family: $font-family-megrim;
  color: white;
  font-size: 60px;
  text-align: center;
}

.title-container {
  position: absolute;
  padding-top: 30px;
  padding-bottom: 30px;
  top: 400px;
  width: 100%;
  text-align: center;
  z-index: -1;
}

.title-text {
  font-family: $font-family-megrim;
  font-size: 30px;
  color: white;
}

.subtitle-text {
  margin-top: 10px;
  font-size: 20px;
  color: white;
}